#checking the required files existance

config_files="$SSHJUMPERCONFIGFILE $SSHJUMPERPASSWORDFILE"

resource_files="yml_parser.rc _sshjconfig_config_collecters.rc _sshjconfig_collect_configs.rc"

for cfg in $config_files;do
	[[ ! -e "$cfg" ]] && echo "Configuration missing: $cfg" && exit;
done

for rc in $resource_files;do
	[[ ! -e "libs/${rc}" ]] && echo "Installation error: $rc not exists." && exit;
done
