#checking the required files existance

config_files="sshjconfig.yml"
resource_files="_sshjconfig_load_configs.rc _sshjconfig_options_parser.rc _sshjconfig_collect_configs.rc"

for cfg in $config_files;do
	[[ ! -e "configs/${cfg}" ]] && echo "Installation error: Config $cfg not exists." && exit;
done

for rc in $resource_files;do
	[[ ! -e "libs/${rc}" ]] && echo "Installation error: $rc not exists." && exit;
done
