sshjumper=$1
sjconfig=""

#Option and configuration parser
source libs/_sshjconfig_config_collecters.rc

#========================== Configs ============================================================================================
#Main configs list for the sshjumper
load_configs "$SSHJUMPERCONFIGFILE" 

[[ -z "$sjconfig" ]] && echo "sshjumper: ${1-not provided or} not available." && exit 1

#Load passwords configs
load_configs "$SSHJUMPERPASSWORDFILE"

command_args="$@"

#======== Config values to =====================================================================================================

sjhops=`get_config hops`

sjlocalcommand=`get_config localcommand`;

sjremotecommand=`get_config remotecommand`;

sjdesc=`get_config description`
	
sjoathsecret=`get_config otp_secret`

sjcopy=`get_config copy` #Copy OTP or password

sjpassword=`get_configs_multiple_with_prefix password`

#======= Config flags (setting arguments based on true/false flag)  ==============================================================

check_config_false terminal || sjterminal="-t"

check_config_true isquiet && sjquiet="-o LogLevel=QUIET"

check_config_true x11 &&  sjx11="-X"

check_config_true keep_alive && sjkeep_alive="-o ServerAliveInterval=15 -o ServerAliveCountMax=3"

#======= Command line options ====================================================================================================

check_args_option "v" && sjverbose="-v"
check_args_option "i" && sjonlyprint="true"
