
get_config() {
	grep -i "\-$1=" <<< "$sjconfig" | cut -d= -f2-
}

#if config set to true
check_config_true(){
	grep -qwi true <(get_config "$1")
}

check_args_option() {
	grep -qwi "\-${1}" <<< $command_args;
}


