#read sshjumper configurations
source libs/yml_parser.rc

sshjumper=$1
sjconfig=""

#Loads or appends the configs list
load_configs() {
  sjconfig+=$(parse_yaml "$1" | grep -i "^$sshjumper-" |  sed -e 's/="/=/' -e 's/"$//' )	#| tr -d "\"'" | perl -MHTML::Entities -pe 'decode_entities($_);')
  [[ -n "$sjconfig" ]] && sjconfig+=$'\n' ;
}

get_config() {
	grep -i "\-$1=" <<< "$sjconfig" | cut -d= -f2-  | head -n 1
}

get_configs_multiple_with_prefix(){
	grep -i "$1.*=" <<< "$sjconfig" | cut -d_ -f2- 
}


#if config set to true
check_config_true(){
	grep -qwi true <(get_config "$1")
}

#if config set to false
check_config_false(){
	grep -qwi false <(get_config "$1")
}
check_args_option() {
	grep -qwi "\-${1}" <<< $command_args;
}


